@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --bg-color: #d4d4d4;
  --primary-color: rgb(32, 133, 32);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 1200px;
  margin: 0 auto;
 padding: 1em 1.5em;
 font-size: 1.3em;
 font-weight: 700;
 letter-spacing: .1em;
 color: var(--primary-color);
}

main {
  
  background: var(--bg-color);
}

.home {
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  gap:4em;
  justify-content: space-between;
  align-items: start;
  padding:2em 1.5em ;
}

.home-left {
  margin: auto;
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-right {
  flex:3;
  width: 100%;
}

/* workout details */
.workoutdetails {
  background: white;
  border-radius: .3em;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin-bottom: 1.3em;
}

.workoutdetails-sub h2, p, span {
  color: var(--primary-color);
}

.workout-delete:hover {
  cursor: pointer;
}

.workout-delete:active {
  background: #d0d0d0;
  border-radius: 1em;
}



/* workoutform */

.workoutform {
  text-align: left;
}

.workoutform h2{
  color: var(--primary-color);
  font-size: 1.2em;
  padding: .5em;
}

form {
  display: grid;
  text-align: left;
}



form input {
  padding: .5em;
  margin: .5em 0;
  border: .2em solid #ddd;
  border-radius: .2em;
  /* outline: none; */
  box-sizing: border-box;
}

form label {
  font-size: 1em;
}

form button {
  padding: .6em;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: .3em;
  margin-top: .5em;
  font-size: .9em;
}

form button:active {
  background: white;
  color: var(--primary-color);

}

.error-error {
  border: .1em solid rgb(242, 32, 32);
  border-radius: .3em;
  background-color: rgb(235, 182, 182);
  color: red;
  margin-top: .8em ;
  padding: .5em;
} 

.emptyfields-error {
  border: 2px solid blue;
}

.error {
  border: 2px solid red;
}


.loader {

  height: 5em;
  width: 5em;
  align-self: center;
}

@media screen and (max-width: 850px) {
  .home {
   display: flex;
   margin: 0 auto;
   flex-direction: column-reverse;
  }

  .home-left {
    display: flex;
    flex-direction: column;
    margin: auto; 
    flex: 4;
    width: 100%;
    
  }
}